<div class="site-category">
    <ul class='cat1'>
      <li><a href="/">Home</a></li>
      <li><a href="/">BigData</a>
        <ul>
            <li><a href="/BigData/Hadoop">Hadoop</a></li>
            <li><a href="/BigData/Spark">Spark</a></li>
            <li><a href="/BigData/Kafka">Kafka</a></li>
            <li><a href="/BigData/Airflow">Airflow</a></li>
        </ul>
      </li>

      <li><a href="/">CS</a>
        <ul>
            <li><a href="/CS/OS">OS</a></li>
            <li><a href="/CS/Network">Network</a></li>
            <li><a href="/CS/Algorithm">Algorithm</a></li>
            <li><a href="/CS/DataStructure">DataStructure</a></li>
        </ul>
      </li>

      <li><a href="/">Study</a>
        <ul>
            <li><a href="/Study/Linux">Linux</a></li>
            <li><a href="/Study/ShellScript">ShellScript</a></li>
            <li><a href="/Study/Vi">Vi</a></li>
            <li><a href="/Study/Docker">Docker</a></li>
            <li><a href="/Study/Markdown">Markdown</a></li>
        </ul>
      </li>

      <li><a href="/">PS</a>
        <ul>
          <li><a href="/PS/BOJ">BOJ</a></li>
        </ul>
      </li>

    </ul>
  </div>