<div id="_yDrawer">
  <div id="_sidebar" class="sidebar">
    <div class="sidebar-bg" style="background-color:#5d5d5d;"></div>
    <header class="sidebar-sticky" role="banner">
      
      <div class="sidebar-about">
        <h1><a id="_title" href="{{ '/' | relative_url }}">&nbsp;&nbsp;&nbsp;정&nbsp;리&nbsp;와&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;기&nbsp;록&nbsp;의&nbsp;&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;습&nbsp;관&nbsp;화&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></h1>
        <br>
        {{ site.tagline | truncatewords:50 | markdownify }}
      </div>
      
      <br/>
      <nav class="sidebar-nav heading" role="navigation">
        {% include nav.html %}
      </nav>
    <br/>
      <!-- <div class="sidebar-box">
        {% if author.picture %}
          {% include srcset-img.html class="me" img=author.picture alt=author.name %}
        {% endif %}
      </div> -->
      <!-- {{ site.description | truncatewords:50 | markdownify }} -->
      {% assign author = site.data.authors.first[1] %}
      {% if author.social %}
        <div class="sidebar-social">
          {% include social.html social=author.social %}
        </div>
      {% endif %}

    </header>
  </div>
</div>
